In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('/Users/traulosspyros/Desktop/Big Blue Data Academy/nlp-challenge-team-a/EDA/emotions.csv')

In [8]:
df.head()

,Unnamed: 0,review_id,title,user_review,emotions
0,0,1,Spooky's Jump Scare Mansion,im scared hearing creepy voices ill pause mome...,"{'Happy': 0.17, 'Angry': 0.0, 'Surprise': 0.3,..."
1,1,2,Spooky's Jump Scare Mansion,best game better sam peppers youtube account y...,"{'Happy': 0.0, 'Angry': 0.2, 'Surprise': 0.4, ..."
2,2,3,Spooky's Jump Scare Mansion,littly iffy controls know play easy master ive...,"{'Happy': 0.23, 'Angry': 0.08, 'Surprise': 0.2..."
3,3,4,Spooky's Jump Scare Mansion,great game fun colorful thata side note though...,"{'Happy': 0.44, 'Angry': 0.0, 'Surprise': 0.22..."
4,4,5,Spooky's Jump Scare Mansion,many games cute tag right next horror tag stea...,"{'Happy': 0.38, 'Angry': 0.0, 'Surprise': 0.31..."

In [9]:
type(df['emotions'][0])

str

In [10]:
df['emotions'] = df['emotions'].map(eval)

In [11]:
type(df['emotions'][0])

dict

In [12]:
emotions = df['emotions'].apply(pd.Series)

In [13]:
emotions.head()

   Happy  Angry  Surprise   Sad  Fear
0   0.17   0.00      0.30  0.17  0.35
1   0.00   0.20      0.40  0.00  0.40
2   0.23   0.08      0.23  0.23  0.23
3   0.44   0.00      0.22  0.22  0.11
4   0.38   0.00      0.31  0.08  0.23

In [14]:
emotion_df = df.merge(emotions, how = 'outer',left_index = True, right_index = True)

In [15]:
emotion_df.head()

,Unnamed: 0,review_id,title,user_review,emotions,Happy,Angry,Surprise,Sad,Fear
0,0,1,Spooky's Jump Scare Mansion,im scared hearing creepy voices ill pause mome...,"{'Happy': 0.17, 'Angry': 0.0, 'Surprise': 0.3,...",0.17,0.00,0.30,0.17,0.35
1,1,2,Spooky's Jump Scare Mansion,best game better sam peppers youtube account y...,"{'Happy': 0.0, 'Angry': 0.2, 'Surprise': 0.4, ...",0.00,0.20,0.40,0.00,0.40
2,2,3,Spooky's Jump Scare Mansion,littly iffy controls know play easy master ive...,"{'Happy': 0.23, 'Angry': 0.08, 'Surprise': 0.2...",0.23,0.08,0.23,0.23,0.23
3,3,4,Spooky's Jump Scare Mansion,great game fun colorful thata side note though...,"{'Happy': 0.44, 'Angry': 0.0, 'Surprise': 0.22...",0.44,0.00,0.22,0.22,0.11
4,4,5,Spooky's Jump Scare Mansion,many games cute tag right next horror tag stea...,"{'Happy': 0.38, 'Angry': 0.0, 'Surprise': 0.31...",0.38,0.00,0.31,0.08,0.23

In [16]:
emotion_df.columns

Index(['Unnamed: 0', 'review_id', 'title', 'user_review', 'emotions', 'Happy',
       'Angry', 'Surprise', 'Sad', 'Fear'],
      dtype='object')

In [17]:
emotion_df = emotion_df.drop(columns = ['emotions','Unnamed: 0'])

In [18]:
emotion_df.head()

,review_id,title,user_review,Happy,Angry,Surprise,Sad,Fear
0,1,Spooky's Jump Scare Mansion,im scared hearing creepy voices ill pause mome...,0.17,0.00,0.30,0.17,0.35
1,2,Spooky's Jump Scare Mansion,best game better sam peppers youtube account y...,0.00,0.20,0.40,0.00,0.40
2,3,Spooky's Jump Scare Mansion,littly iffy controls know play easy master ive...,0.23,0.08,0.23,0.23,0.23
3,4,Spooky's Jump Scare Mansion,great game fun colorful thata side note though...,0.44,0.00,0.22,0.22,0.11
4,5,Spooky's Jump Scare Mansion,many games cute tag right next horror tag stea...,0.38,0.00,0.31,0.08,0.23

In [19]:
emotions = emotion_df.to_csv('/Users/traulosspyros/Desktop/Big Blue Data Academy/nlp-challenge-team-a/EDA/emotions_final.csv')

### EDA

In [ ]:
#Let's find out the happiest comments to which games they refer to
import plotly.express as px

games_happy = df.groupby['title']['Happy'].average()